{% extends 'ShonMResqueBundle:Resque:layout.html.twig' %}
{% set active = 'resque_failed' %}
{% import _self as macros %}

{% block body %}
    <div class="pull-right">
        <a href="{{ path('resque_failed', { method: 'flush' } ) }}" class="btn btn-mini">Flush</a>
        <a href="{{ path('resque_failed', { method: 'again' } ) }}" class="btn btn-mini">Retry All</a>
    </div>
    <br><br>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Queue</th>
                <th>Worker</th>
                <th>Class</th>
                <th>Payload</th>
                <th>Status</th>
                <th>Error</th>
                <th>Failed At</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for job in failed %}
                <tr>
                    <td><a href="{{ path('resque_queues', { queue: job.queue } ) }}" class="label">{{ job.queue }}</a></td>
                    <td><a href="{{ path('resque_workers', { worker: job.worker } ) }}">{{ job.worker }}</a></td>
                    <td>{{ job.payload.class }}</td>
                    <td>{{ job.payload.args.0|json_encode|json_pretty }}</td>
                    <td>{{ job.exception }}</td>
                    <td>{{ macros.errors(job) }}</td>
                    <td>{{ job.failed_at }}</td>
                    <td width="85">
                        <a href="{{ path('resque_failed', { method: 'clear', id: job.payload.id } ) }}" class="btn btn-mini">Clear</a>
                        <a href="{{ path('resque_failed', { method: 'retry', id: job.payload.id } ) }}" class="btn btn-mini">Retry</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock body %}

{% macro errors(job) %}
    <a href="#{{ job.payload.id }}" role="button" class="" data-toggle="modal">{{ job.error }}</a>
    <div id="{{ job.payload.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{{ job.payload.id }}Label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="{{ job.payload.id }}Label">Backtrace: {{ job.error }}</h3>
        </div>
        <div class="modal-body">
            {% for item in job.backtrace %}
                <p>{{ item }}</p>
            {% endfor %}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary">Close</button>
        </div>
    </div>
{% endmacro %}
