{% extends 'ShonMResqueBundle:Resque:layout.html.twig' %}

{% block body %}
    <ul class="thumbnails thumbnails-stats">
        <div class="row container-fluid">
            <li class="span4">
                <a href="#" class="thumbnail">
                    <h2>{{ resque.stat('processed') }}</h2>
                    Processed
                    <a href="{{ path('resque_clear') }}" class="close" data-original-title="Clear"><i class="icon-remove-circle"></i></a>
                </a>
            </li>
        </div>
        <hr>
        <div class="row container-fluid">
            <li class="span4">
                <a href="{{ path('resque_failed') }}" class="thumbnail">
                    <h2>{{ resque.stat('failed') }}</h2>
                    Failures
                    <a href="{{ path('resque_clear', { stat: 'failed' } ) }}" class="close" data-original-title="Clear"><i class="icon-remove-circle"></i></a>
                </a>
            </li>
        </div>
        <hr>
        <div class="row container-fluid">
            <li class="span4">
                <a href="#" class="thumbnail">
                    <h2>{{ backlog }}</h2>
                    Backlogged
                </a>
            </li>
        </div>
        <hr>
        <div class="row container-fluid">
            <li class="span4">
                <a href="{{ path('resque_queues') }}" class="thumbnail">
                    <h2>{{ queues }}</h2>
                    Queues
                </a>
            </li>
        </div>
        <hr>
        <div class="row container-fluid">
            <li class="span4">
                <a href="{{ path('resque_workers') }}" class="thumbnail">
                    <h2>{{ workers }}</h2>
                    Workers
                </a>
            </li>
        </div>
    </ul>
{% endblock body %}
