{% extends 'ShonMResqueBundle:Resque:layout.html.twig' %}
{% set active = 'resque_queues' %}
{% import _self as macros %}

{% block body %}
    {% if queue %}
        <table class="table table-bordered table-striped table-data">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Jobs</th>
                </tr>
            </thead>
            <tbody>
                {{ macros.queue(queue) }}
            </tbody>
        </table>
    {% else %}
        <table class="table table-bordered table-striped table-data">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Jobs</th>
                </tr>
            </thead>
            <tbody>
                {% for queue in queues %}
                    {{ macros.queue(queue) }}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock body %}

{% macro queue(queue) %}
    <tr>
        <td><a href="{{ path('resque_queues', { queue: queue.name } ) }}">{{ queue.name }}</a></td>
        <td>{{ queue.size }}</td>
    </tr>
{% endmacro %}
