{% extends 'ShonMResqueBundle:Resque:layout.html.twig' %}
{% set active = 'resque_workers' %}
{% import _self as macros %}

{% block body %}
    {% if worker %}
        <table class="table table-bordered table-striped table-data">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Queues</th>
                    <th>Processing</th>
                    <th>Processed</th>
                    <th>Failed</th>
                </tr>
            </thead>
            <tbody>
                {{ macros.worker(worker) }}
            </tbody>
        </table>
    {% else %}
        <table class="table table-striped table-bordered table-data">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Queues</th>
                    <th>Processing</th>
                    <th>Processed</th>
                    <th>Failed</th>
                </tr>
            </thead>
            <tbody>
                {% for worker in workers %}
                    {{ macros.worker(worker) }}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock body %}

{% macro worker(worker) %}
    <tr>
        <td>
            <a href="{{ path('resque_workers', { worker: worker } ) }}">{{ worker }}</a>
        </td>
        <td>
            {% for queue in worker.queues %}
                <a href="{{ path('resque_queues', { queue: queue.name } ) }}" class="label">{{ queue.name }}</a>
            {% endfor %}
        </td>
        <td>
            {% if worker.job %}
                {% set job = worker.job %}
                <div class="clearfix">
                    <strong class="pull-left">{{ job.payload.class }}</strong>
                    <span class="pull-right">{{ job.run_at }}</span>
                </div>
                <div>
                    {{ job.payload.args.0|json_encode|json_pretty }}
                </div>
            {% else %}
                <em>Idle</em>
            {% endif %}
        </td>
        <td>{{ worker.getStat('processed') }}</td>
        <td>{{ worker.getStat('failed') }}</td>
    </tr>
{% endmacro %}